.input {
	&__container {
		flex: 1;
		height: 3.2rem;
		display: flex;
		box-shadow: var(--box-shadow);
	}

	&__input {
		flex: 1;
		font-size: 1.6rem;
		padding: 0.8rem;
		color: var(--text-color);
		border: none;
		background: var(--background-color);

		&:focus {
			outline: 0;
			border: none;
			animation: blink-outline 1s infinite alternate;
		}
	}

	&__button {
		outline: none;
		width: 3.2rem;
		height: 3.2rem;
		display: flex;
		cursor: pointer;
		position: relative;
		border: var(--button-border);
		box-shadow: var(--box-shadow);
		background: var(--color-primary);

		&::after,
		&::before {
			content: "";
			height: 0.2rem;
			width: 1.6rem;
			position: absolute;
			background: #fff;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		&::after {
			transform-origin: center;
			transform: rotate(90deg);
		}

		&:hover,
		&:active {
			box-shadow: none;
			opacity: 0.7;
		}
	}
}

@keyframes blink-outline {
	from {
		outline: var(--color-primary) solid 0.2rem;
	}
	to {
		outline: transparent solid 0.2rem;
	}
}
