.list {
	padding: 1.6rem 0;
	list-style: none;
	display: flex;
	flex-direction: column;

	@include responsive(tab-land) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 2rem;
	}

	&__item {
		display: flex;
		flex-direction: row;
		box-shadow: var(--box-shadow);
		background: var(--background-color);
		padding: 0.8rem;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 1.6rem;

			@include responsive(tab-land) {
				margin-bottom: 0;
			}
		}
	}

	&__check {
		position: relative;
		display: block;
		min-width: 1.6rem;
		min-height: 1.6rem;

		& input {
			position: absolute;
			opacity: 0;
			height: 0;
			width: 0;
		}

		& span {
			transition: 0.2s all ease;
			position: absolute;
			top: 0;
			left: 0;
			height: 1.6rem;
			width: 1.6rem;
			border: 0.1rem solid var(--icons-grey);
		}

		& input:checked ~ span {
			border: 0.1rem solid var(--color-primary);
			background-color: var(--color-primary);
		}

		& span:after {
			content: "";
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 0.4rem;
			height: 1rem;
			border: 0.3rem solid var(--icons-grey);
			border-width: 0 0.2rem 0.2rem 0;
			transform: rotate(45deg);
		}

		& input:checked ~ span:after {
			content: "";
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 0.4rem;
			height: 1rem;
			border: 0.3rem solid #fff;
			border-width: 0 0.2rem 0.2rem 0;
			transform: rotate(45deg);
		}
	}

	&__label {
		display: flex;
		flex-direction: row;
		align-items: center;
		cursor: pointer;
		transition: 0.2s all ease;

		&:hover {
			opacity: 0.7;
		}
	}

	&__text {
		color: var(--text-color);
		margin-left: 0.8rem;

		&--checked {
			text-decoration: line-through;
			color: var(--icons-grey);
		}
	}

	&__icon {
		padding-left: 0.8rem;
		width: 1.6rem;
		height: 1.6rem;
		cursor: pointer;
		text-decoration: none;
		margin-left: auto;
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		transition: opacity 0.2s ease;
		background: var(--color-red);

		&:hover,
		&:active {
			opacity: 0.7;
		}

		&::after,
		&::before {
			content: "";
			height: 0.15rem;
			width: 1rem;
			position: absolute;
			background: #fff;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		&::before {
			transform-origin: center;
			transform: rotate(45deg);
		}

		&::after {
			transform-origin: center;
			transform: rotate(135deg);
		}
	}
}
