.theme-switch {
	& input {
		display: none;
	}

	&__icon {
		height: 1.6rem;
		width: 1.6rem;
		fill: var(--text-color);
	}

	&__label {
		height: 3.2rem;
		cursor: pointer;
		width: 3.2rem;
		transition: opacity 0.2s ease;

		&:hover {
			opacity: 0.7;
		}
	}
}
