@charset "UTF-8";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;

	@include responsive(phone) {
		font-size: 68.75%;
	}

	@include responsive(tab-port) {
		font-size: 85%;
	}

	@include responsive(tab-land) {
		font-size: 100%;
	}
}

body {
	box-sizing: border-box;
	font-family: var(--font-default);
	font-weight: 400;
	font-size: 1.6rem;
	font-style: normal;
}

html,
body {
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
}

*::selection {
	background: var(--color-text);
	color: var(--color-white);
}
