:root {
	--font-default: sans-serif;
	--color-primary: #04bf68;
	--box-shadow: 0 0.4rem 1.2rem rgba(2, 1, 38, 0.3);
	--box-shadow-upwards: 0 -0.4rem 1.2rem rgba(2, 1, 38, 0.3);
	--color-background: #ededed;
	--text-color: #020126;
	--background-color: #ffffff;
	--icons-grey: #dcdcdf;
	--color-red: #f20530;
	--padding: 0 2rem;

	@include responsive(tab-port) {
		--padding: 0 8rem;
	}

	@include responsive(desktop) {
		--padding: 0 16rem;
	}
}

[data-theme="dark"] {
	--icons-grey: #b1b1b1;
	--box-shadow: none;
	--box-shadow-upwards: none;
	--color-background: #000;
	--text-color: #fff;
	--background-color: rgba(255, 255, 255, 0.16);
}
