:root {
  --font-default: "Open Sans", sans-serif;
  --color-primary: #04bf68;
  --box-shadow: 0 0.4rem 1.2rem rgba(2, 1, 38, 0.3);
  --box-shadow-upwards: 0 -0.4rem 1.2rem rgba(2, 1, 38, 0.3);
  --color-background: #ededed;
  --text-color: #020126;
  --background-color: #ffffff;
  --icons-grey: #dcdcdf;
  --color-red: #f20530;
  --padding: 0 2rem; }
  @media only screen and (min-width: 46.875em), (orientation: landscape) {
    :root {
      --padding: 0 8rem; } }
  @media only screen and (min-width: 60em) {
    :root {
      --padding: 0 16rem; } }
  @media only screen and (min-width: 75em) {
    :root {
      --padding: 0 24rem; } }

[data-theme="dark"] {
  --icons-grey: #969696;
  --box-shadow: none;
  --box-shadow-upwards: none;
  --color-background: #000;
  --text-color: #fff;
  --background-color: rgba(255, 255, 255, 0.16); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth; }

html {
  font-size: 68.75%; }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 62.5%; } }

body {
  box-sizing: border-box;
  font-family: var(--font-default);
  font-weight: 400;
  font-size: 1.6rem;
  font-style: normal; }

html,
body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); }

*::selection {
  background: var(--color-text);
  color: var(--color-white); }

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/open-sans-v17-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v17-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

.list {
  padding: 1.6rem 0;
  list-style: none;
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 60em) {
    .list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem; } }
  .list__item {
    display: flex;
    flex-direction: row;
    box-shadow: var(--box-shadow);
    background: var(--background-color);
    padding: 0.8rem;
    align-items: center; }
    .list__item:not(:last-child) {
      margin-bottom: 1.6rem; }
      @media only screen and (min-width: 60em) {
        .list__item:not(:last-child) {
          margin-bottom: 0; } }
  .list__check {
    position: relative;
    display: block;
    min-width: 1.6rem;
    min-height: 1.6rem; }
    .list__check input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0; }
    .list__check span {
      transition: 0.2s all ease;
      position: absolute;
      top: 0;
      left: 0;
      height: 1.6rem;
      width: 1.6rem;
      border: 0.1rem solid var(--icons-grey); }
    .list__check input:checked ~ span {
      border: 0.1rem solid var(--color-primary);
      background-color: var(--color-primary); }
    .list__check span:after {
      content: "";
      position: absolute;
      display: block;
      left: 0.5rem;
      top: 0.1rem;
      width: 0.4rem;
      height: 1rem;
      border: 0.3rem solid var(--icons-grey);
      border-width: 0 0.2rem 0.2rem 0;
      transform: rotate(45deg); }
    .list__check input:checked ~ span:after {
      content: "";
      position: absolute;
      display: block;
      left: 0.5rem;
      top: 0.1rem;
      width: 0.4rem;
      height: 1rem;
      border: 0.3rem solid var(--background-color);
      border-width: 0 0.2rem 0.2rem 0;
      transform: rotate(45deg); }
  .list__label {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: 0.2s all ease; }
    .list__label:hover {
      opacity: 0.7; }
  .list__text {
    color: var(--text-color);
    margin-left: 0.8rem; }
    .list__text--checked {
      text-decoration: line-through;
      color: var(--icons-grey); }
  .list__icon {
    padding-left: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease; }
    .list__icon:hover, .list__icon:active {
      opacity: 0.7; }
  .list__bell {
    fill: var(--icons-grey);
    height: 1.6rem;
    width: 1.6rem; }
  .list__bin {
    fill: var(--color-red);
    height: 1.6rem;
    width: 1.6rem; }

.btn__primary {
  color: #fff;
  text-decoration: none;
  background-color: var(--color-primary);
  padding: 1.6rem 3.2rem;
  border-radius: 10rem;
  font-size: 2.4rem;
  box-shadow: var(--box-shadow);
  transition: all 0.2s ease; }
  .btn__primary span {
    margin-left: 2.4rem;
    line-height: 1;
    font-size: 2.4rem; }
  .btn__primary:hover, .btn__primary:active {
    box-shadow: none; }

.theme-switch input {
  display: none; }

.theme-switch__icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: var(--text-color); }

.theme-switch__label {
  height: 3.2rem;
  cursor: pointer;
  width: 3.2rem;
  transition: opacity 0.2s ease; }
  .theme-switch__label:hover {
    opacity: 0.7; }

.input__container {
  flex: 1;
  height: 3.2rem;
  display: flex;
  box-shadow: var(--box-shadow); }

.input__input {
  flex: 1;
  font-size: 1.6rem;
  padding: 0.8rem;
  color: var(--text-color);
  border: var(--border);
  background: var(--background-color); }
  .input__input:focus,
  .input__input:focus + button {
    outline: 0;
    border: 0.2rem solid var(--color-primary); }

.input__button {
  outline: none;
  width: 4.8rem;
  border: var(--button-border);
  box-shadow: var(--box-shadow);
  color: #020126;
  background: var(--color-primary);
  font-size: 1.6rem;
  line-height: 3.2rem; }
  .input__button:hover, .input__button:active {
    box-shadow: none;
    opacity: 0.7; }

.header {
  z-index: 5;
  display: flex;
  padding: var(--padding);
  height: 6.4rem;
  background: var(--background-color);
  align-items: center;
  box-shadow: var(--box-shadow); }
  .header__logo {
    height: 3.2rem;
    width: 3.2rem; }
    .header__logo__container {
      margin-left: auto;
      height: 3.2rem;
      align-self: center;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
    .header__logo--1 {
      width: 3rem;
      fill: var(--text-color); }
    .header__logo--2 {
      margin-left: 1rem;
      fill: var(--color-primary); }
  .header__theme-switch {
    margin-left: auto; }

.main {
  height: 100%;
  height: calc((var(--vh, 1vh) * 100) - 12.8rem);
  padding: var(--padding);
  overflow: scroll;
  overflow-x: hidden; }

.footer {
  height: 6.4rem;
  padding: var(--padding);
  box-shadow: var(--box-shadow-upwards);
  background: var(--background-color);
  display: flex;
  align-items: center;
  z-index: 5;
  justify-content: center; }

.home {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background); }
